<h1>Tamagotchi Page!</h1>
<form class="" action="/mypet" method="post">
  <div class="form-group">
    <label for="name">Give your pet a name!</label>
    <input id="name" type="text" name="name">
  </div>
  <button type="submit" class="btn btn-success">Start!</button>
</form>
